<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <system.webServer>
        <!-- Remove the modules element if running on IIS 8.5-->
        <modules runAllManagedModulesForAllRequests="false">
            <remove name="iisnode" />
        </modules>
        

        <iisnode node_env="%node_env%" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="true" debugHeaderEnabled="false" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxLogFileSizeInKB="128" maxTotalLogFileSizeInKB="1024" maxLogFiles="20" devErrorsEnabled="true" flushResponse="false" enableXFF="false" promoteServerVars="" configOverrides="iisnode.yml" watchedFiles="web.config;*.js" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
                 
        <!-- 
            Before the handlers element can work on IIS 8.5
            follow steps listed here https://github.com/tjanczuk/iisnode/issues/52 
        -->                 
        <handlers>
            <add name="iisnode" path="*.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files (x86)\iisnode-dev\debug\x64\iisnode.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />

            <!-- Uncomment below handler if using Socket.io -->
            <!--<add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />-->
        </handlers>

        <rewrite>
            <rules>
                
					
				
                <rule name="ReverseProxyInboundRule1" stopProcessing="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>






<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <configuration> -->
    <!-- <system.webServer> -->
        <!-- <defaultDocument> -->
            <!-- <files>                 -->
                <!-- <add value="app.js" /> -->
            <!-- </files> -->
        <!-- </defaultDocument> -->
        <!-- <modules> -->
            <!-- <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" /> -->
        <!-- </modules> -->
		
        <!-- <handlers> -->
            <!-- <add name="NODEJS" path="*.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" requireAccess="Script" preCondition="bitness64" /> -->
        <!-- </handlers> -->
		
		
		
    <!-- </system.webServer> -->
<!-- </configuration> -->





